*.pyc
*.swp
*.project*
*.pydev*
*.settings*
*compiled*
/db
/db/*
/doc-built
/doc-src/_build
/data
/data/*
/app-builds
/build
pip-log.txt
src/plater/dojo/static/dojo/js/dojo
src/plater/dojo/static/dojo/js/dijit
src/plater/dojo/static/dojo/js/dojox
src/plater/dojo/static/dojo/js/util
src/plater/dojo/static/dojo/js/jshint
